form {
    border: 1px solid #545454;
    border-radius: 10px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 70%;
    line-height: 16px;
    margin: 10px 0;
}

button{
    position: relative;
    outline: none;
    color: black;
    font-weight: bolder;
    width: 60px;
    height: 25px;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    background: #a59f9f;
    margin-left: 10px;

    &:hover{
        background: rgba(1,1,1,0.6);
    }

}